body {
    background-color: black;
    background-image: url("ff.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 50% -160%;
  }

#start {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#text {
    font-size: 20px;
    font-family: verdana;
    color: white;
    text-align: center;
  }
